body {
  background: #ffffff;
  font: 100%/20px helvetica, arial, sans-serif;
  padding-left: 5px;
}

canvas {
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%
}

#control-panel {
  background: rgba(0,0,0,.75);
  border: 1px solid #333;
  left: 20px;
  padding: 10px 15px;
  position: absolute;
  top: 20px;
  z-index: 2;
}

p {
	font-size: 12px;
  margin: 0 0 5px;
  
}

label {
  font-size: 12px;
  font-weight: bold;
}	

button {
  display: block; 
  margin: 10px 0 5px;
}

a {
  border-bottom: 1px dotted #444;
  color: rgb(19, 18, 18);
  font-size: 14px;
  text-decoration: none;
  margin: 0px 0px 0px;
}
 
h1 {
  text-shadow: 5px 5px 5px #66a2e7;
}

header{
  margin: 30px 30px 5px;
  position: center;
  color: rgb(19, 18, 18);
  font-size: 22px;
  text-align: center;
}

nav{
  margin: 30px 30px 5px;
  color: rgb(19, 18, 18);
  font-size: 12px;
}

section
{
  margin: -260px 230px 5px;
  color: rgb(19, 18, 18);
  font-size: 18px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #333;
  width: 1000px;
  position: absolute;
  
}
article{
  margin: -235px 230px 0;
  color: rgb(19, 18, 18);
  font-size: 18px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #333;
  width: 1000px;
  position: absolute;
}

aside{
  margin: -265px 30px 5px;
  text-align:right;
  color: rgb(19, 18, 18);
  font-size: 18px;
}

footer{
  margin: 130px 30px 5px;
  color: rgb(19, 18, 18);
  font-size: 18px;
  text-align: center;  
}
   
#div1{
  width:100px;
  height:100px;
  border:solid 1px;
  box-shadow: 10px 10px 10px 5px black;
}
  
 #div2{
  margin: 150px 0 5px;
  width:1000px;
  height:100px;
  border:solid 1px;
  border-radius:0px 20px 0px 20px;
}

#contador{
  margin: 50px 200px 5px;
  padding-left: 10px;
  padding-top: 20px;
  width:150px;
  height:50px;
  border:solid 1px;
  border-radius:0px 20px 0px 20px;
}

#video{
  margin: 0 200px 5px;
}